:root {
  --aside-width: 400px;
  --cart-aside-summary-height-with-discount: 300px;
  --cart-aside-summary-height: 250px;
  --grid-item-width: 355px;
  --header-height: 64px;
  --color-dark: #000;
  --color-light: #fff;
  --rgb-balsamic: 60, 7, 7;
  --color-balsamic: rgb(var(--rgb-balsamic));
  --color-eggshell: #fffbf8;
}

@font-face {
  font-family: 'heldane';
  src: url('../assets/fonts/HeldaneDisplay-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'heldane-italic';
  src: url('../assets/fonts/HeldaneDisplay-RegularItalic.otf')
    format('opentype');
}

@font-face {
  font-family: 'neue';
  src: url('../assets/fonts/HelveticaNeue-Roman.otf') format('opentype');
}

@font-face {
  font-family: 'neue-bold';
  src: url('../assets/fonts/HelveticaNeueBold.ttf') format('truetype');
}

input {
  color: var(--color-balsamic);
}
/*
* --------------------------------------------------
* Non anchor links
* --------------------------------------------------
*/
.link:hover {
  text-decoration: underline;
  cursor: pointer;
}

/*
* --------------------------------------------------
* components/Aside
* --------------------------------------------------
*/
@media (max-width: 45em) {
  html:has(.overlay.expanded) {
    overflow: hidden;
  }
}

body {
  color: var(--color-balsamic);
  position: relative;
}

aside {
  background: var(--color-light);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  height: 100vh;
  width: min(var(--aside-width), 100vw);
  position: fixed;
  right: calc(-1 * var(--aside-width));
  top: 0;
  transition: transform 200ms ease-in-out;
}

aside header {
  align-items: center;
  border-bottom: 1px solid var(--color-dark);
  display: flex;
  height: var(--header-height);
  justify-content: space-between;
  padding: 0 20px;
}

aside header h3 {
  margin: 0;
}

aside header .close {
  font-weight: bold;
  opacity: 0.8;
  text-decoration: none;
  transition: all 200ms;
  width: 20px;
}

aside header .close:hover {
  opacity: 1;
}

aside header h2 {
  margin-bottom: 0.6rem;
  margin-top: 0;
}

aside main {
  margin: 1rem;
}

aside p {
  margin: 0 0 0.25rem;
}

aside p:last-child {
  margin: 0;
}

aside li {
  margin-bottom: 0.125rem;
}

.overlay {
  background: rgba(0, 0, 0, 0.2);
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 400ms ease-in-out;
  transition: opacity 400ms;
  visibility: hidden;
  z-index: 10;
}

.overlay .close-outside {
  background: transparent;
  border: none;
  color: transparent;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: calc(100% - var(--aside-width));
}

.overlay .light {
  background: rgba(255, 255, 255, 0.5);
}

.overlay .cancel {
  cursor: default;
  height: 100%;
  position: absolute;
  width: 100%;
}

.overlay.expanded {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
/* reveal aside */
.overlay.expanded aside {
  transform: translateX(calc(var(--aside-width) * -1));
}

button.reset {
  border: 0;
  background: inherit;
  font-size: inherit;
}

button.reset > * {
  margin: 0;
}

button.reset:not(:has(> *)) {
  height: 1.5rem;
  line-height: 1.5rem;
}

button.reset:hover:not(:has(> *)) {
  text-decoration: underline;
  cursor: pointer;
}

/*
* --------------------------------------------------
* components/Header
* --------------------------------------------------
*/
.header {
  align-items: center;
  display: flex;
  height: var(--header-height);
  padding: 0 1rem;
  position: sticky;
  top: 0;
  z-index: 1;
  --thickness: 4px;
  background: hsl(0deg 0% 100% / 0.95);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
}
@supports (backdrop-filter: blur(16px)) or (-webkit-backdrop-filter: blur(16px)) {
  .header {
    background: rgba(255, 251, 248, 0.2);
  }

  .backdrop {
    content: '';
    position: absolute;
    inset: 0;

    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background: linear-gradient(
      to bottom,
      rgba(255, 251, 248, 0.2),
      transparent 10%
    );
    pointer-events: none;
  }

  .backdrop-edge {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: var(--thickness);
    background: hsl(0deg 0% 100% / 0.1);
    -webkit-backdrop-filter: blur(4px) brightness(0.96);
    backdrop-filter: blur(4px) brightness(0.96);
    transform: translateY(100%);
    pointer-events: none;
  }
}

@supports (mask-image: none) or (-webkit-mask-image: none) {
  .backdrop {
    height: 200%;
    -webkit-mask-image: linear-gradient(
      to bottom,
      black 0% 50%,
      transparent 50% 100%
    );
    mask-image: linear-gradient(to bottom, black 0% 50%, transparent 50% 100%);
  }
  .backdrop-edge {
    height: 100%;
    inset: 0;
    -webkit-mask-image: linear-gradient(
      to bottom,
      black 0,
      black var(--thickness),
      transparent var(--thickness)
    );
    mask-image: linear-gradient(
      to bottom,
      black 0,
      black var(--thickness),
      transparent var(--thickness)
    );
  }
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
  width: 100vw;
  height: var(--header-height);
  box-sizing: border-box;
  pointer-events: auto;
}
.header-menu-mobile-toggle {
  @media (min-width: 48em) {
    display: none;
  }
}
.header-menu-mobile {
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
}
.header-menu-desktop {
  width: 40%;
  display: flex;
  gap: 1rem;
}
.header-menu-item {
  cursor: pointer;
}

.header-logo {
  width: 7.5vw;
}
.header-logo > svg {
  width: 100%;
  height: fit-content;
}

.header-content > p {
  width: 40%;
  text-align: right;
}

.header-ctas {
  align-items: center;
  display: flex;
  grid-gap: 1rem;
  margin-left: auto;
}

.header-ctas > * {
  min-width: fit-content;
}

/*
* --------------------------------------------------
* components/Footer
* --------------------------------------------------
*/
.footer {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  padding: 4rem 1rem 2rem 1rem;
}
.footer > svg {
  width: 100%;
  height: fit-content;
}
.footer-newlsetter {
  grid-column: 3/5;
}
.footer-newlsetter > p:first-of-type {
  margin-bottom: 1rem;
}

.link-columns-container {
  display: flex;
  gap: 3rem;
  grid-column: 6/8;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  grid-gap: 1rem;
}

.footer-menu a {
  /* color: var(--color-light); */
  min-width: fit-content;
  font-size: 13px;
  text-wrap: nowrap;
}

/*
* --------------------------------------------------
* components/Cart
* --------------------------------------------------
*/
.cart-main {
  height: 100%;
  max-height: calc(100vh - var(--cart-aside-summary-height));
  overflow-y: auto;
  width: auto;
}

.cart-main.with-discount {
  max-height: calc(100vh - var(--cart-aside-summary-height-with-discount));
}

.cart-line {
  display: flex;
  padding: 0.75rem 0;
}

.cart-line img {
  height: 100%;
  display: block;
  margin-right: 0.75rem;
}

.cart-summary-page {
  position: relative;
}

.cart-summary-aside {
  background: white;
  border-top: 1px solid var(--color-dark);
  bottom: 0;
  padding-top: 0.75rem;
  position: absolute;
  width: calc(var(--aside-width) - 40px);
}

.cart-line-quantity {
  display: flex;
}

.cart-discount {
  align-items: center;
  display: flex;
  margin-top: 0.25rem;
}

.cart-subtotal {
  align-items: center;
  display: flex;
}
/*
* --------------------------------------------------
* components/Search
* --------------------------------------------------
*/
.predictive-search {
  height: calc(100vh - var(--header-height) - 40px);
  overflow-y: auto;
}

.predictive-search-form {
  background: var(--color-light);
  position: sticky;
  top: 0;
}

.predictive-search-result {
  margin-bottom: 2rem;
}

.predictive-search-result h5 {
  text-transform: uppercase;
}

.predictive-search-result-item {
  margin-bottom: 0.5rem;
}

.predictive-search-result-item a {
  align-items: center;
  display: flex;
}

.predictive-search-result-item a img {
  margin-right: 0.75rem;
  height: 100%;
}

.search-result {
  margin-bottom: 1.5rem;
}

.search-results-item {
  margin-bottom: 0.5rem;
}

.search-results-item a {
  display: flex;
  flex: row;
  align-items: center;
  gap: 1rem;
}

/*
* --------------------------------------------------
* COMING SOON
* --------------------------------------------------
*/

.coming-soon {
  font-family: serif;
}

.hero-section {
  display: flex;
  width: 100vw;
  height: 75vh;
  position: relative;
  margin-left: -1rem;
}

.hero-section.mobile {
  flex-direction: column;
  height: auto;
}

.hero-image {
  flex: 1;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-logo {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hero-logo svg {
  width: 100%;
  height: auto;
  display: block;
  fill: white;
}

.logo-title {
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

.intro-section {
  background: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem;
  margin-bottom: 1.5rem;
}

.intro-heading {
  font-size: 40px;
  margin-bottom: 1.75rem;
}

.intro-left {
  width: 75%;
}

.intro-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.email-input::placeholder,
.signup-button {
  color: var(--color-balsamic);
}

.launch-message {
  white-space: pre-line;
}

.intro-text,
.launch-message,
.quote-text {
  line-height: 1.4;
}

.intro-text,
.quote-text {
  font-size: 13px;
  font-family: 'neue';
}

.launch-message {
  font-size: 18px;
}

.intro-heading,
.launch-message {
  font-family: 'heldane';
}

.email-form {
  display: flex;
  gap: 0.5rem;
}

.email-input {
  flex: 1;
  border: none;
  border-bottom: 1px solid #000;
  padding: 0.5rem;
  background: transparent;
  font-size: 13px;
}

.signup-button {
  border: none;
  border-bottom: 1px solid #000;
  background: transparent;
  cursor: pointer;
  padding: 0.5rem;
}

.founder-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem 2rem;
  background: #fff;
  gap: 2rem;
  align-items: center;
}

.founder-image {
  width: 80%;
}

.founder-image img {
  width: 100%;
  object-fit: cover;
}

.founder-quote {
  width: 85%;
}

.quote-author {
  margin-top: 6rem;
  font-family: 'heldane';
  font-size: 18px;
}

.monogram-container {
  position: absolute;
  bottom: 6rem;
  right: 6rem;
  z-index: 10;
}

.monogram-image {
  width: 50px;
  height: auto;
  opacity: 0.8;
}

/*
* --------------------------------------------------
* routes/__index
* --------------------------------------------------
*/
.featured-collection {
  display: block;
  margin-bottom: 2rem;
  position: relative;
}

.featured-collection-image {
  aspect-ratio: 1 / 1;
  @media (min-width: 45em) {
    aspect-ratio: 16 / 9;
  }
}

.featured-collection img {
  height: auto;
  max-height: 100%;
  object-fit: cover;
}

.recommended-products-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
  @media (min-width: 45em) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.recommended-product img {
  height: auto;
}

.home > section {
  margin-top: 8rem;
}
.home > section:first-of-type {
  margin-top: 0;
}
.home > section:last-of-type {
  margin-bottom: 8rem;
}
a.intro-text:hover {
  text-decoration: none;
}

.our-standards-home {
  width: 100vw;
  margin-left: -1rem;
  display: flex;
  gap: 1px;
}
.our-standards-home-card {
  width: 33%;
  flex: 1;
  position: relative;
}
.our-standards-home-card > img {
  width: 100%;
}
.our-standards-home-card > div {
  position: absolute;
  inset: 0;
  display: flex;
  /* z-index: -1; */
  background: #fffbf8;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}
.our-standards-home-card > div > p,
.bottom-section-text-container > p {
  font-size: 19px;
  font-family: 'heldane';
}
.our-standards-home-card > div > div {
  width: 50%;
  font-size: 12px;
}
.our-standards-home-card a,
.our-standards-home-card p {
  color: inherit;
  font-size: inherit;
}
.our-standards-home-card p {
  margin-bottom: 1rem;
}
.our-standards-home-card a {
  text-decoration: underline;
  cursor: pointer;
}
.bottom-section-hero-image {
  width: 100vw;
  margin-left: -1rem;
}
.bottom-section-hero-image > img {
  width: 100%;
  margin-bottom: 4rem;
}
.bottom-section-text-container {
  width: 25%;
}

.bottom-section-text-container > p {
  margin-bottom: 2rem;
}
.bottom-section-text-container > div > p {
  margin-bottom: 1rem;
}
.bottom-section-text-container > div > p:last-of-type {
  margin-bottom: 0;
}

@media (max-width: 1050px) {
  .our-standards-home-card > div > div {
    width: 100%;
  }
}
@media (max-width: 687px) {
  .our-standards-home-card > img {
    opacity: 1 !important;
  }
  .our-standards-home-card > div {
    position: static;
    opacity: 1 !important;
  }
  .our-standards-home-card > div > div > p {
    display: none;
  }
}

/*
* --------------------------------------------------
* routes/__index
* --------------------------------------------------
*/

.about-hero-section {
  height: auto;
  justify-content: space-between;
}
.about-hero-image {
  width: 45vw;
  height: fit-content;
  height: 100vh;
}
.about-hero-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-text-container {
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.about-text-container > div:last-of-type {
  width: 70%;
}
.about .quote-text {
  width: 75%;
}
.image-and-copy,
.about-our-team-section {
  padding-block: 8rem;
  background: var(--color-eggshell);
  display: flex;
}
.image-and-copy > div,
.about-our-standards > div {
  flex: 1;
}
.image-and-copy > div {
  display: flex;
  align-items: center;
}
.image-and-copy > div:first-of-type {
  justify-content: center;
}
.image-and-copy .bottom-section-text-container > div {
  width: 75%;
}
.about-our-standards {
  display: flex;
}
.about-our-standards > .about-text-container {
  position: relative;
  height: calc(100vh - var(--header-height) - 4px);
}
.about-our-standards > .about-text-container > img {
  width: 50px;
  position: absolute;
  bottom: 0;
  right: 20%;
  transform: translateX(45%);
}
.our-standards-about-images-container {
  display: flex;
  justify-content: space-between;
}
.our-standards-about-square-images-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 30%;
}
.our-standards-about-square-images-container > img {
  aspect-ratio: 1/1;
  object-fit: cover;
}
.our-standards-about-primary-image-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.team-member-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}
.team-member {
  display: flex;
  gap: 1rem;
  width: 100%;
}
.team-member-headshot-container {
  flex: 1;
}
.team-member-headshot-container > img {
  width: 100%;
}
.team-member-text-container {
  flex: 1.5;
}

/*
* --------------------------------------------------
* routes/pages
* --------------------------------------------------
*/

.page {
  padding: 8rem 0;
  display: flex;
}
.page > div:first-of-type {
  flex: 0.5;
}
.page > div:nth-of-type(2) {
  width: calc(50vw - 2rem);
}
.page-side-nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: sticky;
  left: 1rem;
  top: calc(var(--header-height) + 16rem + 56px);
}
.page .intro-heading {
  margin-bottom: 6rem;
}
.page-subheader {
  font-family: 'heldane';
  font-size: 19px;
}
.divider-section {
  margin-bottom: 6rem;
}
.divider-content-container {
  border-top: 1px solid rgba(var(--rgb-balsamic), 0.1);
}
.divider-content {
  border-bottom: 1px solid rgba(var(--rgb-balsamic), 0.1);
  padding-block: 1rem;
  position: relative;
}
.divider-content > p {
  margin-bottom: 1rem;
}
.divider-content-email {
  position: absolute;
  top: 1rem;
  right: 0;
  cursor: pointer;
}
.page-portable-text > * {
  margin-bottom: 1rem;
}
table {
  font-size: 13px;
  text-align: center;
  border-collapse: collapse;
}
th {
  font-weight: normal;
}
td,
th {
  border: 1px solid var(--color-balsamic);
  padding: 1rem;
  width: 50%;
}

/*
* --------------------------------------------------
* routes/collections._index.tsx
* --------------------------------------------------
*/
.collections-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.collection-item img {
  height: auto;
}

/*
* --------------------------------------------------
* routes/collections.$handle.tsx
* --------------------------------------------------
*/
.collection-description {
  margin-bottom: 1rem;
  max-width: 95%;
  @media (min-width: 45em) {
    max-width: 600px;
  }
}

.products-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.product-item img {
  height: auto;
  width: 100%;
}

/*
* --------------------------------------------------
* routes/products.$handle.tsx
* --------------------------------------------------
*/
.product {
  display: grid;
  @media (min-width: 45em) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
  }
}

.product h1 {
  margin-top: 0;
}

.product-image img {
  height: auto;
  width: 100%;
}

.product-main {
  align-self: start;
  position: sticky;
  top: 6rem;
}

.product-price-on-sale {
  display: flex;
  grid-gap: 0.5rem;
}

.product-price-on-sale s {
  opacity: 0.5;
}

.product-options-grid {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 0.75rem;
}

.product-options-item,
.product-options-item:disabled {
  padding: 0.25rem 0.5rem;
  background-color: transparent;
  font-size: 1rem;
  font-family: inherit;
}

.product-option-label-swatch {
  width: 1.25rem;
  height: 1.25rem;
  margin: 0.25rem 0;
}

.product-option-label-swatch img {
  width: 100%;
}

/*
* --------------------------------------------------
* routes/blog._index.tsx
* --------------------------------------------------
*/
.blogs {
  padding-top: 8rem;
}
.blogs .intro-heading {
  margin-top: 0;
}
.blog-grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 2rem;
}
.blog-link {
  width: calc(50vw - 2rem);
  position: relative;
  cursor: pointer;
}
.blog-link img {
  width: 100%;
  object-fit: cover;
  transition: opacity 150ms ease-in-out;
}
.blog-preview-content {
  position: absolute;
  background: var(--color-eggshell);
  inset: 0;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}
.blog-link:hover > img {
  opacity: 0;
}
.blog-link:hover > .blog-preview-content {
  opacity: 1;
}
.blog-link:hover > .blog-preview-content > p:last-of-type {
  text-decoration: underline;
}
.blog-article-image {
  aspect-ratio: 3/2;
  display: block;
}

.blog-article-image img {
  height: 100%;
}

/*
* --------------------------------------------------
* routes/blog.$articlehandle.tsx
* --------------------------------------------------
*/
.article {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  padding-top: 8rem;
  position: relative;
}
.back-to-articles {
  position: absolute;
  top: 8rem;
  left: 1rem;
  transform: translateY(50%);
}
.article > div:has(> .article-time-and-author),
.article-body {
  width: 37.5%;
}
.article > h1 {
  margin-bottom: 0;
}
.article-hero-container {
  width: 62.5%;
}
.article img {
  height: auto;
  width: 100%;
}
.article-body > * {
  margin-bottom: 1rem;
}
.article-images-container {
  margin-block: 4rem;
}
.article-images-container:has(> div + div) {
  display: flex;
  width: 200%;
  margin-left: calc(-50% - 0.5rem);
  gap: 1rem;
  justify-content: center;
  transform: translateX(0.5rem);
}
.sanity-article-image-container {
  width: 100%;
}
.article-q-a-container {
  text-align: center;
  position: relative;
  margin-block: 4rem;
}
.article-q-a-container > button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  aspect-ratio: 1/1;
  background: transparent;
  color: var(--color-balsamic);
  border: 1px solid var(--color-balsamic);
  right: -2.5rem;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
.article-q-a-container > button:disabled,
.article-q-a-container > button:disabled:hover {
  color: grey;
  border-color: grey;
  background: transparent;
}
.article-q-a-container > button:hover {
  color: var(--color-eggshell);
  background: var(--color-balsamic);
}
.article-q-a-container > button:first-of-type {
  left: -2.5rem;
  right: auto;
}
.article-q-a-container > div {
  background: var(--color-balsamic);
  color: var(--color-eggshell);
  padding: 2rem;
}
.article-q-a-container > div:first-of-type {
  color: var(--color-balsamic);
  background: var(--color-eggshell);
}

/*
* --------------------------------------------------
* routes/account
* --------------------------------------------------
*/

.account-logout {
  display: inline-block;
}

@media (max-width: 499px) {
  .hero-section.mobile {
    height: 60vh;
  }
  .hero-image.left-image {
    height: 60vh;
  }
  .hero-logo {
    top: 55%;
  }
  .hero-image.right-image {
    display: none;
  }
  .intro-section {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    margin-top: 1.5rem;
  }
  .intro-left {
    width: 100%;
  }
  .intro-text {
    margin-bottom: 2rem;
  }
  .launch-message {
    margin-bottom: 2rem;
    font-size: 16px;
  }
  .founder-section {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  .founder-image {
    width: 100%;
  }
  .founder-quote {
    width: 100%;
  }
  .quote-author {
    margin-top: 2rem;
  }
  .monogram-container {
    display: none;
  }
  input {
    border-radius: 0 !important;
  }
  button {
    font-weight: normal !important;
  }
  .footer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 4rem 1rem 80px 1rem;
  }
  .link-columns-container {
    flex-direction: column;
  }
  .email-form > input::placeholder {
    color: #9d8383;
  }

  .footer > svg {
    width: 180px;
  }
  .footer-menu {
    grid-gap: 0.4rem;
  }
}
